ANTHROPIC_API_KEY=your_anthropic_api_key_here
COURTLISTENER_TOKEN=your_courtlistener_token_here
EMAIL_PASSWORD=your_gmail_app_password_here
BATCHDATA_API_KEY=your_batchdata_api_key_here
ATTOM_API_KEY=your_attom_api_key_here
PROPSTREAM_API_KEY=your_propstream_api_key_here
